# image:
#   debug: true

auth:
  adminUser: admin
  adminPassword: "password"

replicaCount: 1

service:
  type: NodePort

  nodePorts:
    http: "30080"
    https: "30443"

# production: true

ingress:
  enabled: true
  ingressClassName: "alb"
  pathType: Prefix
  hostname: keycloak.smartseo.kr
  path: /
  backend:
    service:
      name: keycloak
      port:
        number: 80
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/load-balancer-name: system-alb
    alb.ingress.kubernetes.io/group.name: "system-alb-group"
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:ap-northeast-2:221370546661:certificate/6f73fffc-dc0f-4c85-a295-147c64be7fcb
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    # alb.ingress.kubernetes.io/ssl-redirect: "443"

postgresql:
  enabled: false

externalDatabase:
  host: "postgresql.db.svc.cluster.local"
  port: 5432
  user: admin
  database: test
  password: "password"

logging:
  output: default
  level: DEBUG
